<header>
    <h1>მიღებული ინფორმაცია:</h1>
</header>

<main>
    @if(snapId !== null && snapId !== undefined || paramsMapId !== null && paramsMapId !== undefined){
        <section>
            <p>მიღებული id: {{snapId}}</p>
            <p>მიღებული id2: {{paramsMapId}}</p>
        </section>
    }

    @if(yesOrNo){
        <section>
            <p>ობიექტის id: {{QPObjectId}}</p>
            <p>ობიექტის სახელი: {{QPObject.name}}</p>
            <p>ობიექტის გვარი: {{QPObject.surname}}</p>
        </section>
    }

    @if(mapId.length !== 0 || mapName.length !== 0 || mapSurname.length !== 0){

    @for (item of mapId; track $index; let i = $index) {
            <section>
                <p>ობიექტის id {{i + 1}}: {{mapId[i]}}</p>
                <p>ობიექტის სახელი {{i + 1}}: {{mapName[i]}}</p>
                <p>ობიექტის გვარი {{i + 1}}: {{mapSurname[i]}}</p>
            </section>
        }
    }
</main>