header {
    width: 100%;
    min-height: 100px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-weight: 300;
    }
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;

    section {
        display: grid;
        gap: 10px;
        max-width: 768px;
        width: 100%;
        margin: 0px auto;
        padding: 30px;
        border-radius: 10px;
        border: 1px solid white;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 40px;
            background-color: white;
            color: black;
            border-radius: 10px;
            border: 2px solid black;
            font-size: 30px;
            text-decoration: none;
            margin-top: 10px;
        }

        .active {
            background-color: blue;
            color: white;
        }
    }
}