*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    position: relative;
    background-color: black;
    color: white;
    padding: 100px 0px 140px;
}