<header>
    <h1>როგორ გამოვიყენოთ routing ანგულარში.</h1>
</header>

<main>
    <section>
        <h4>ნაბიჯი 1:</h4>
        <p>დავაგენერიროთ საჭირო კომპონენტები ისეთი როგორიცაა header, footer, pageNotFound და ყველა ის გვერდი, რომელიც
            გესაჭიროებათ საიტის შიგთავსის გამოსატანად(ორი ან მეტი).</p>
        <img src="images/generate component(long).png" alt="generate component(long)">

        <p>ან შემოკლებით</p>
        <img src="images/generate component(short).png" alt="generate component(short)">
    </section>

    <section>
        <h4>ნაბიჯი 2:</h4>
        <p>ავაგოთ სტრუქტურა app.component.html -ში, მაგალითად ასე:</p>
        <img src="images/app-html structure.png" alt="app-html structure">
        <p>PS: ეს სტრუქტურა შეიძლება შეიცვალოს საჭიროებისამებრ.</p>
    </section>

    <section>
        <h4>ნაბიჯი 3:</h4>
        <p>app.routes.ts -ში ავაწყოთ გზები, რომლის საშუალებითაც ანგულარი შეძლებს გამოიტანოს ზუსტად იმ კომპონენტის შიგთავსი, რომელსაც მომხმარებელი აირჩევს.</p>
        <img src="images/paths.png" alt="paths">
        <p>PS: სავალდებულო არაა, მაგრამ კარგი პრაქტიკაა ამ გზების დაწყება redirectTo-ი, თუმცა wildcard ამ შემთხვევაში(pageNotFound),
             საჭიროა რომ იყოს ბოლო, წაკითხვის თანმიმდევრობიდან გამომდინარე.</p>
    </section>

    <section>
        <h4>ნაბიჯი 4:</h4>
        <p>გზების შექმნის შემდეგ, საჭიროა რომ შევქმნათ მექანიზმი, რომელიც მოგვცემს საშუალებას ღილაკზე დაკლიკებით გადავიდეთ სხვა გვერდებზე, მაგალითად შევქმნათ ნავიგაცია header კომპონენტში.</p>
        <img src="images/navigation.png" alt="navigation">
    </section>
</main>


<header>
    <h2>routing-ის გამოყენება</h2>
</header>


<main>
    <section>
        <h4>ერთი კომპონენტიდან მეორეში ინფორმაციის გადატანა.</h4>
        <p>იმ კომპონენტის typescript-ში საიდანაც იგზავნება ინფორმაცია უნდა შეიქმნას constructor() და მასში გამოვიძახოთ Router:</p>
        <img src="images/Router.png" alt="Router">
        <p>კონსტრუქტორის შემდეგ კი გადასასვლელი მექანიზმი</p>
        <img src="images/goTo.png" alt="go to">
        <p>ამის შემდეგ კი კომპონენტის html-ში შევქმნათ ღილაკი.</p>
        <img src="images/idButton.png" alt="id button">
        <p>თუმცა ამის შემდეგ გვჭირდება დავამატოთ გზა app.routes.ts -ში.</p>
        <img src="images/sendId.png" alt="send id">
        <p>app.routes.ts -ის საშუალებით, მაგალითად id-ს გაგზავნა:</p>
        <button (click)="goTo()">გადადი აქ</button>
        <p>ამ ღილაკზე დაჭერით გადავალთ test-page-ზე და თან წავიღებთ id-ს URL-ის გამოყენებით, რა დროსაც გადავალთ სასურველ გვერდზე და მივიღებთ შედეგს:</p>
        <img src="images/URL.png" alt="URL">
        <p>PS: ამ გზით id-ს გაგზავნა სავალდებულო არაა, შესაძლებელია ტექსტური ან სხვა ტიპის ინფორმაციის გაგზავნაც, თუმცა მხოლოდ ერთის</p>
    </section>

    <section>
        <h4>ისმის კითხვა, როგორ მივიღოთ გაგზავნილი id-ს მნიშვნელობა?</h4>
        <p>ამისათვის, როგორც წინა შემთხვევაში გავაგზავნეთ ინფორმაცია Router-ის საშუალებით, ახლაც გვჭირდება გზა რათა მიღებული ინფორმაცია გამოვიყენოთ. მაგრამ ამ შემთხვევაში ვიყენებთ ActivatedRoute-ს.</p>
        <p>თუმცა ახლა ამ ხერხს ვიყენებთ იმ კომპონენტში სადაც უნდა მივიღოთ ინფორმაცია, მაგალითად test-page.component.ts -ში:</p>
        <img src="images/activatedRoute.png" alt="activated route">
        <p>ამის შემდეგ შეგვიძლია გამოვიყენოთ implement onInit და id მივიღოთ:</p>
        <img src="images/onInit.png" alt="onInit">
        <img src="images/ngOnInit.png" alt="ngOnInit">
        <p>არსებობს ინფორმაციის მიღების მეორე, რეაქტიული და განახლებადი გზა:</p>
        <img src="images/paramMapSub.png" alt="paramMapSub">
    </section>

    <section>
        <h4>რა ვქნათ როცა გვჭირდება არა ერთი არამედ რამდენიმე პარამეტრის გაგზავნა?</h4>
        <p>ასეთ შემთხვევაში არსებობს queryParams მეთოდი, რომელიც შეიძლება ობიექტის სახით გაიგზავნოს სხვა გვერდზე, მაგრამ ამ შემთხვევაში არ არის საჭირო app.routes.ts -ში რამის ჩამატება.</p>
        <img src="images/queryparams.png" alt="queryParams">
        <button (click)="sendQueryParams()">გადადი აქ</button>
        <p>ხოლო ინფორმაციის მიმღებ კომპონენტში:</p>
        <img src="images/queryparamsSub.png" alt="queryParamsSub">
        <p>იმ შემთხვევაში თუ ამ ობიექტში არის ნიცხვები მათი ტექსტიდან გადმოსაყვანად დაგჭირდებათ JSON.parse() ან +, მაგალითად ასე:</p>
        <img src="images/inNumber.png" alt="inNumber">
    </section>

    <section>
        <h4>როგორ მოვიქცეთ თუ queryParams-ით გადაცემულ პაარამეტრებს ერთდროულად აქვთ რამდენიმე მნიშვნელობა.</h4>
        <p>განვიხილოთ ასეთი შემთხვევა. დავუშვათ ვაგზავნით ობიექტს, რომელიც შეიცავს მასივებს:</p>
        <img src="images/queryparamsmap.png" alt="queryParamsMap">
        <p>იქიდან გამომდინარე, რომ queryParams-ს შეეძლება ამოიღოს ამ მასივების მხოლოდ პირველი წევრები, იგი არ გვაწყობს, ამიტომ უნდა გამოვიყენოთ queryParamsMap ინფორმაციის მიმღებ კომპონენტში.</p>
        <img src="images/queryparamsmapget.png" alt="queryParamsMapGet">
        <button (click)="sendQueryParamsMulty()">გადადი აქ</button>
    </section>

    <section>
        <p>გავითვალისწინოთ, რომ ისევე როგორც app.routes.ts-ში გაწერილი გზის საშუალებით ინფორმაციის გაგზავნის დროს, ასევე queryParams-ის და queryParamsMap-ის გამოყენების დროსაც გვჭირდება, 
            რომ გამგზავნ კომპონენტის კონსტრუქტორში გამოვიძახოთ Router, ხოლო მიმღებისაში ActivatedRoute.</p>
    </section>
</main>